@import url(https://fonts.google.com/specimen/Barlow+Semi+Condensed);

body{
    background: #ccd4dd;
    font-family: 'Barlow Semi Condensed', sans-serif;
    line-height: 1.7;
    font-size: 13px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.testimonials{
    max-width: 1440px;
    margin:100px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}
.card{
    background: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: rgba(20, 15, 50, 10) 0px 44px 100px 0px;
    margin-bottom: 10px;
}
.card_header{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.card_header h3{
    font-size: 17px;
}
.card_header p {
   opacity: 50%;
}
.card_img{
    width: 40px;
    height:40px;
    border-radius: 50%;
    border: 2px solid #502c86;
    margin-right: 10px;
}
.card_lead{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 20px;
}
.card_quote{
    font-size: 15px;
    font-weight: 500;
    line-height: 1.4;
    opacity: 70%;
}
.card--bg--violet{
    background: hsl(263, 55%, 52%);
    color: white;
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top 10px right 100px;
}
.card--bg--grey{
    background: hsl(217, 19%, 35%);
    color: white;
}
.card--bg--darkblue{
    background-color: hsl(219, 29%, 14%);
    color: white;
}
.card:nth-of-type(1){
grid-column: 1/3;
}
.card:nth-of-type(4){
    grid-column: 2/4;
    grid-row: 2;
}
.card:nth-of-type(5) {
    grid-column: 4;
    grid-row: 1 / 3;
}
