@import url(https://fonts.google.com/specimen/Barlow+Semi+Condensed);

body{
    background: #ccd4dd;
    font-family: 'Barlow Semi Condensed', sans-serif;
    line-height: 1.7;
    font-size: 13px;
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
}