@import url(https://fonts.google.com/specimen/Barlow+Semi+Condensed);

body{
    background: #ccd4dd;
    font-family: 'Barlow Semi Condensed', sans-serif;
    line-height: 1.7;
    font-size: 13px;
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
}
testimonials{
    max-width: 1440px;
    margin:100px auto;
    padding: 20px;
}
.card{
    background: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: rgba(20, 15, 50, 10) 0px 44px 100px 0px;
}
.card_header{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.card_header h3{
    font-size: 17px;
}
.card_header p {
   opacity: 50%;
}
.card_img{
    width: 40px;
    height:40px;
    border-radius: 50%;
    border: 2px solid #502c86;
    margin-right: 10px;
}
.card_lead{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 20px;
}
.card_quote{
    font-size: 15px;
    font-weight: 500;
    line-height: 1.4;
    opacity: 70%;
}